<div class="container overflow-hidden">
    <div class="row w-100 mt-5">
        <div class="col-10 pl-0 border input-group box-shadow border">
            <div class="input-group-prepend">
                <span class="input-group-text border-top-0 border-left-0 border-bottom-0">
                    <i class="fa fa-search"></i>
                </span>
            </div>
            <input type="text" [(ngModel)]="searchText" placeholder="Search for Cocktail Name...!"
                class="form-control border-0">
        </div>
        <div class="col-2 pr-0 float-right input-group box-shadow">
            <select>
                <option value="0">-- Select Cocktail Filter --</option>
                <option value="Category"> Category</option>
                <option value="Ingredients"> Ingredients</option>
            </select>
        </div>
    </div>
    <div class="row">
        <table align="right" class="my-4 mx-5 text-center table table-striped">
            <thead>
                <tr class="text-center">
                    <th class="px-4">Image</th>
                    <th class="px-2">Name</th>
                    <th class="px-2">Category</th>
                    <th class="px-2">Top Ingredients</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cocktail of cocktails | searchPipe : searchText | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;"
                    class="mt-2 pb-2">
                    <td class="px-4 py-2">
                        <img src={{cocktail.strDrinkThumb}} style="height: 50px;width: 50px;">
                    </td>
                    <td class="px-4 py-2">
                        <a routerLink={{cocktail.strDrink}}>{{cocktail.strDrink}}</a>
                    </td>
                    <td class="px-4 py-2">{{cocktail.strCategory}}</td>
                    <td class="px-4 py-2">{{cocktail.strIngredient1}} , {{cocktail.strIngredient2}} ,
                        {{cocktail.strIngredient3}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!-- paginate div -->
<div class="row">
    <div class="col-12">
        <div class="bg-white text-center">
            <pagination-controls autoHide="true" (pageChange)="p = $event" maxSize="100"></pagination-controls>
        </div>
    </div>
</div>